.login-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.login-wrapper{
    width: 70%;
    height: 70%;
    display: flex;
}
.login-left, .login-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-logo{
    font-size: 50px;
    font-weight: 800;
    color: white;
    margin-bottom: 10px;
}
.login-desc{
    font-size: 24px;
}
.login-box{
    height: 700px;
    padding:20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-input{
    height: 50px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 18px;
    padding-left: 20px;
}

.login-input:focus{
    outline: none;
}
.login-button{
    height: 50px;
    border-radius: 5px;
    border: none;
    /* background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
    /* background: #1775ee; */
    background: rgb(131,58,180);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.login-forgot{
    text-align: center;
    /* color: rgba(131,58,180); */
}
.login-button-register-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.login-button-register{
    width: 60%;
    /* align-self: center; */
    height: 50px;
    border-radius: 5px;
    border: none;
    
    /* background: rgb(131,58,180);
    background: linear-gradient(300deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
    /* background: #1775ee; */
    background: rgba(252,176,69,1);

    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}