.asideLeft-container{
    flex: 2.8;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: rgb(73, 82, 82);
}
::-webkit-scrollbar-thumb{
   background-color: tomato;
}
.asideLeft-wrapper{
    padding: 20px;

}
.asideLeft-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.asideLeft-list-item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.asideLeft-icon{
    margin-right: 15px;
}
.asideLeft-button{
    width: 150px;
    border: none;
    padding: 10px;
    color: white;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 5px;
    font-weight: 500;
    margin: 10px 0;
}
.asideLeft-hr{
    height: 1px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.sideLeft-friends-container-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    
    font-size: 20px;
    font-weight: 800;
}
.asideLeft-friendlist{
    padding: 0;
    margin: 0;
   
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
   
    
}
.asideLeft-friendslist-container{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.asideLeft-button-friend{
   
    width: 90px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    color: white;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
  
}
