.asideRight-container{
    flex: 2.5;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
    color:white;
    direction: rtl;
    /* background: rgb(131,58,180); */
    background: linear-gradient(360deg, #833ab4 30%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 60%);
}
.flipped{
    direction:ltr;
    padding: 13px;
}
::-webkit-scrollbar{
    width: 5px;
    
}

::-webkit-scrollbar-track{
    background-color: black;
}
::-webkit-scrollbar-thumb{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.asideRight-wrapper{
    padding: 20px 20px 0 0;
}
.asideRight-birthday-container{
    display: flex;
    align-items: center;
}
.asideRight-title{
    margin-bottom: 20px;
}
.birthday-image{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.birthday-text{
font-weight: 300;
font-size: 15px;
}
.asideRight-ad{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}
.asideRight-friend-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.asideRight-title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.asideRight-info{
    margin-bottom: 30px;
}
.asideRight-info-item{
    margin-bottom: 10px;
}
.asideRight-info-key{
    font-weight: 500;
    margin-right: 15px;
    color:#555
}
.asideRight-info-value{
    font-weight: 500;
}
.asideRight-followings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.asideRight-following{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}
.asideRight-following-image{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}
.asideRight-following-name{
    font-size: 10px;
    text-align: center;
}
