.asideRight-friend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.asideRight-friend-image-container{
   margin-right: 10px;
   position: relative; 
}
.friend-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.friend-online{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: chartreuse;
    position: absolute;
    top: -2;
    right: 0;
    border: 2px solid white

}
.friend-username{
    font-weight: 500;
    font-size: 10px;

}